main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-return {
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #1e397e;
}

.button-return:hover {
    color: white;
    background-color: #0d2152d2;
}

.article-news {
    margin: 20px;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.article-title {
    font-size: 2.8em;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 15px;
}

.article-p {
    color: #777;
    font-size: 0.9em;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.article-body p {
    color: #333333;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.6;
}

.img-size {
    width: 500px;
}

.article-img {
    max-width: 100%;
    padding: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

.subtitle {
    padding-top: 40px;
    padding-bottom: 15px;
    color: #000;
    font-size: 1.8rem;
    font-weight: normal;
}

.reference {
    font-family: 'Times New Roman', Times, serif;
    max-width: 700px;
    font-size: 1rem;
    line-height: 1.4;
    color: #000;
    border-left: 1px solid #000000bd;
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .article-title {
        font-size: 2rem;
        padding-left: 8px;
    }

    .subtitle {
        padding-left: 8px;
        font-size: 1.5rem;
    }

    .article-body p {
        font-size: 1rem;
        text-align: left;
        padding-left: 8px;
    }

    .img-size {
        width: 300px;
    }

    .button-return {
        margin-left: 10px;
    }

    .article-news {
        margin: auto;
        max-width: 100%;
    }

    .reference a {
        word-break: break-all;
    }
}
