.donation {
    text-align: center;
    background-color: #F8F9FA;
    padding: 110px 10px;
}

.donation h1 {
    padding: 25px;
}
.p-just {
    margin: auto 35px;
    padding: 10px 90px;
}
/*-----------------------------QR CODE*/
.donation-box {
    margin: 80px;
    padding: 120px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.donation-box h2 {
    padding: 10px;
}

.donation-box p {
    padding: 10px;
}

.donation-box img {
    padding: 10px;
}