/*----------------------------- SECTION CLASS*/
.donation {
    text-align: center;
    background-color: #F8F9FA;
    padding: 90px 10px 80px 10px;
}

.donation h1 {
    padding: 25px;
}
.donation > p {
    margin: auto 35px;
    padding: 10px 90px;
    text-align: center;
}
/*----------------------------- DIV container*/
.container {
    max-width: 1050px;
    margin: 80px auto;
    padding: 70px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.05);
    gap: 40px;
}


/*----------------------------- DIV QR CODE da esquerda*/
.donation-box-left h2,
.donation-box-left p { 
    text-align: left;
}

.donation-box-left p {
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.donation-box-left img {
    padding: 10px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    margin-top: 20px;
}

/*-------------------------------DIV da direita*/
.donation-box-right > h2,
.donation-box-right > p { 
    text-align: left;
}

.donation-box-right p {
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .donation-box-left > h2,
    .donation-box-left > p {
        text-align: center;
    }

    .donation-box-right > h2,
    .donation-box-right > p { 
    text-align: center;
    }

    .donation p {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 1px;
        text-align: center;
    }
}