/*Classes Globais*/
.removeListStyle {
    list-style-type: none;
}

.removeTextDecoration {
    text-decoration: none;
    color: inherit;
}

/*Configurações do NAV*/
nav div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-left: 5px;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li > a:hover { 
    background-color: darkgrey;
    text-decoration: underline;
}


/*Configurações do Footer*/
.iconStyleFooter {
    display: flex;
    align-content: center;
    justify-content: center;
}

footer li img {
    width: 50px;
}

.icone-link {
    /* Estilos básicos para o link/ícone */
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    background-color: #f0f0f0;
    transition: all 0.3s ease;

    /* Sombra inicial */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave para a base */
}

.icone-link:hover {
    /* Efeito de elevação no hover */
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #e0e0e0;
}