@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.section-box {
    margin: 20px;
}

.title-section {
    text-align: center;
    margin-bottom: 20px;
}