* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*Configurações Globais*/
.removeListStyle {
    list-style-type: none;
}

.removeTextDecoration {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; /* Fonte para títulos */
    font-weight: 700;
    margin-bottom: 20px;
}

/*Configurações do NAV*/
nav div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-left: 25px;
    margin-right: 5px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li > a:hover { 
    background-color: #f39c12;
}

nav li:hover {
    transform: scale(1.1);
}

/*Imagem banner fundo hero*/
.bannerHero {
    margin: auto;
}


/*Quem somos*/
.about {
    
}


/*Configurações do Footer*/
.div_footer_estyle {
    background-color: #192a56;
    color: #f4f4f9;
    text-align: center;
    padding: 40px 20px;
}

.iconStyleFooter {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 8px 0px 8px 0px;
}

footer a > img:hover {
    transform: scale(1.1);
    
}

footer a > img {
    width: 50px;
}
